/* variables */

:root {

  /* container styling */
  --container-background-color: linear-gradient(127deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(14, 21, 58, 0.71) 91.2%);
  --nested-container-background-color: linear-gradient(127deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);
  --container-background-effect: blur(60px);

  /* text color */
  --green-text: #01B574;
  --grey-text: #A0AEC0;
  --primary-blue: #0075FF;
  --primary-red: #E31A1A;
  --nav-hover-color: #1A1F37;

  /* Text sizing */
  --xs-text: 12px;
  --sm-text: 14px;
  --m-text:  16px;
  --l-text: 18px;

  /* Bolding */
  --font-bold: 600;
  --font-regular: 400;

}

/* RESET STYLES */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    overflow: hidden; 
  }
  
  html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    color: #333;
    text-rendering: optimizeSpeed;
    overflow-y: auto;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Removes animations for people that have that setting */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }